# **Customer Churn - Machine Learning approach**

First, upload your Kaggle credentials JSON file. Then setup the Colab Notebook

In [1]:
! pip install kaggle
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

Download dataset and unzip

In [2]:
! kaggle datasets download yeanzc/telco-customer-churn-ibm-dataset
! unzip telco-customer-churn-ibm-dataset.zip

Downloading telco-customer-churn-ibm-dataset.zip to /content
  0% 0.00/1.25M [00:00<?, ?B/s]
100% 1.25M/1.25M [00:00<00:00, 148MB/s]
Archive:  telco-customer-churn-ibm-dataset.zip
  inflating: Telco_customer_churn.xlsx

Import necessary libraries for the project

In [3]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

pd.set_option("display.precision", 3)

Import the downloaded dataset and perform various statistical analyses for better understanding.

In [4]:
dataset = pd.read_excel('/content/Telco_customer_churn.xlsx')
dataset.shape

(7043, 33)

In [5]:
dataset.head(10)

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964,-118.273,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059,-118.307,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048,-118.294,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062,-118.316,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039,-118.266,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices
5,4190-MFLUW,1,United States,California,Los Angeles,90020,"34.066367, -118.309868",34.066,-118.310,Female,...,Month-to-month,No,Credit card (automatic),55.20,528.35,Yes,1,78,5925,Competitor offered higher download speeds
6,8779-QRDMV,1,United States,California,Los Angeles,90022,"34.02381, -118.156582",34.024,-118.157,Male,...,Month-to-month,Yes,Electronic check,39.65,39.65,Yes,1,100,5433,Competitor offered more data
7,1066-JKSGK,1,United States,California,Los Angeles,90024,"34.066303, -118.435479",34.066,-118.435,Male,...,Month-to-month,No,Mailed check,20.15,20.15,Yes,1,92,4832,Competitor made better offer
8,6467-CHFZW,1,United States,California,Los Angeles,90028,"34.099869, -118.326843",34.100,-118.327,Male,...,Month-to-month,Yes,Electronic check,99.35,4749.15,Yes,1,77,5789,Competitor had better devices
9,8665-UTDHZ,1,United States,California,Los Angeles,90029,"34.089953, -118.294824",34.090,-118.295,Male,...,Month-to-month,No,Electronic check,30.20,30.2,Yes,1,97,2915,Competitor had better devices

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 33 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   CustomerID         7043 non-null   object
 1   Count              7043 non-null   int64
 2   Country            7043 non-null   object
 3   State              7043 non-null   object
 4   City               7043 non-null   object
 5   Zip Code           7043 non-null   int64
 6   Lat Long           7043 non-null   object
 7   Latitude           7043 non-null   float64
 8   Longitude          7043 non-null   float64
 9   Gender             7043 non-null   object
 10  Senior Citizen     7043 non-null   object
 11  Partner            7043 non-null   object
 12  Dependents         7043 non-null   object
 13  Tenure Months      7043 non-null   int64
 14  Phone Service      7043 non-null   object
 15  Multiple Lines     7043 non-null   object
 16  Internet Service   7043 non-null   object
 17  Online Security    7043 non-null   object
 18  Online Backup      7043 non-null   object
 19  Device Protection  7043 non-null   object
 20  Tech Support       7043 non-null   object
 21  Streaming TV       7043 non-null   object
 22  Streaming Movies   7043 non-null   object
 23  Contract           7043 non-null   object
 24  Paperless Billing  7043 non-null   object
 25  Payment Method     7043 non-null   object
 26  Monthly Charges    7043 non-null   float64
 27  Total Charges      7043 non-null   object
 28  Churn Label        7043 non-null   object
 29  Churn Value        7043 non-null   int64
 30  Churn Score        7043 non-null   int64
 31  CLTV               7043 non-null   int64
 32  Churn Reason       1869 non-null   object
dtypes: float64(3), int64(6), object(24)
memory usage: 1.8+ MB

In [7]:
dataset.astype('object').describe().transpose()

                    count  unique                         top  freq
CustomerID           7043    7043                  3668-QPYBK     1
Count                7043       1                           1  7043
Country              7043       1               United States  7043
State                7043       1                  California  7043
City                 7043    1129                 Los Angeles   305
Zip Code             7043    1652                       90003     5
Lat Long             7043    1652      33.964131, -118.272783     5
Latitude           7043.0  1652.0                      33.964   5.0
Longitude          7043.0  1651.0                    -121.995   8.0
Gender               7043       2                        Male  3555
Senior Citizen       7043       2                          No  5901
Partner              7043       2                          No  3641
Dependents           7043       2                          No  5416
Tenure Months        7043      73                           1   613
Phone Service        7043       2                         Yes  6361
Multiple Lines       7043       3                          No  3390
Internet Service     7043       3                 Fiber optic  3096
Online Security      7043       3                          No  3498
Online Backup        7043       3                          No  3088
Device Protection    7043       3                          No  3095
Tech Support         7043       3                          No  3473
Streaming TV         7043       3                          No  2810
Streaming Movies     7043       3                          No  2785
Contract             7043       3              Month-to-month  3875
Paperless Billing    7043       2                         Yes  4171
Payment Method       7043       4            Electronic check  2365
Monthly Charges    7043.0  1585.0                       20.05  61.0
Total Charges      7043.0  6531.0                        20.2  11.0
Churn Label          7043       2                          No  5174
Churn Value          7043       2                           0  5174
Churn Score          7043      85                          80   151
CLTV                 7043    3438                        5546     8
Churn Reason         1869      20  Attitude of support person   192

In [8]:
dataset[['Monthly Charges', 'Total Charges','Churn Score', 'CLTV']].describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Monthly Charges,7043.0,64.762,30.090,18.25,35.5,70.35,89.85,118.75
Churn Score,7043.0,58.699,21.525,5.00,40.0,61.00,75.00,100.00
CLTV,7043.0,4400.296,1183.057,2003.00,3469.0,4527.00,5380.50,6500.00

In [9]:
dataset['Churn Label'].value_counts()

No     5174
Yes    1869
Name: Churn Label, dtype: int64

Drop features and perform some transformations

In [10]:
df = dataset.drop(columns=['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude','Churn Value','Churn Reason','Phone Service'])
df.replace({'Yes': 1, 'No': 0,'No phone service':np.NaN,'No internet service': np.NaN },inplace = True)
df.replace({'Female': 1, 'Male': 0},inplace = True)
df.dropna(inplace=True)
df.shape

(4835, 21)

In [11]:
df.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,...,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Score,CLTV
0,0,0,0,0,2,0.0,DSL,1.0,1.0,0.0,...,0.0,0.0,Month-to-month,1,Mailed check,53.85,108.15,1,86,3239
1,1,0,0,1,2,0.0,Fiber optic,0.0,0.0,0.0,...,0.0,0.0,Month-to-month,1,Electronic check,70.70,151.65,1,67,2701
2,1,0,0,1,8,1.0,Fiber optic,0.0,0.0,1.0,...,1.0,1.0,Month-to-month,1,Electronic check,99.65,820.5,1,86,5372
3,1,0,1,1,28,1.0,Fiber optic,0.0,0.0,1.0,...,1.0,1.0,Month-to-month,1,Electronic check,104.80,3046.05,1,84,5003
4,0,0,0,1,49,1.0,Fiber optic,0.0,1.0,1.0,...,1.0,1.0,Month-to-month,1,Bank transfer (automatic),103.70,5036.3,1,89,5340

In [12]:
df = pd.concat([df,pd.get_dummies(df[['Internet Service','Contract','Payment Method']], dummy_na=False)],axis=1).drop(['Internet Service','Contract','Payment Method'],axis=1)
df = df.apply(lambda x: pd.to_numeric(x, errors = 'coerce')).dropna()

In [13]:
df.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Multiple Lines,Online Security,Online Backup,Device Protection,Tech Support,...,CLTV,Internet Service_DSL,Internet Service_Fiber optic,Contract_Month-to-month,Contract_One year,Contract_Two year,Payment Method_Bank transfer (automatic),Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check
0,0,0,0,0,2,0.0,1.0,1.0,0.0,0.0,...,3239,1,0,1,0,0,0,0,0,1
1,1,0,0,1,2,0.0,0.0,0.0,0.0,0.0,...,2701,0,1,1,0,0,0,0,1,0
2,1,0,0,1,8,1.0,0.0,0.0,1.0,0.0,...,5372,0,1,1,0,0,0,0,1,0
3,1,0,1,1,28,1.0,0.0,0.0,1.0,1.0,...,5003,0,1,1,0,0,0,0,1,0
4,0,0,0,1,49,1.0,0.0,1.0,1.0,0.0,...,5340,0,1,1,0,0,1,0,0,0

In [14]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm').set_precision(2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`

Employ feature selection. We choose

In [15]:
from sklearn.feature_selection import SelectKBest, chi2

x = df.loc[:, df.columns != 'Churn Label']
y = df['Churn Label']

bestf = SelectKBest(score_func = chi2,k=10)
fit = bestf.fit(x,y)
dfscores = pd.DataFrame(fit.scores_)
featureScores = pd.concat([pd.DataFrame(x.columns),dfscores],axis = 1)
featureScores.columns = ['Specs','Score']
featureScores.nlargest(10, 'Score')

                      Specs      Score
14            Total Charges  1.139e+06
16                     CLTV  4.215e+04
15              Churn Score  1.818e+04
4             Tenure Months  1.431e+04
21        Contract_Two year  3.254e+02
19  Contract_Month-to-month  2.773e+02
3                Dependents  2.427e+02
6           Online Security  2.404e+02
9              Tech Support  2.227e+02
17     Internet Service_DSL  2.060e+02

In [16]:
f = featureScores.nlargest(10, 'Score')
#X = df[list(f.Specs)].drop('Churn Score',axis=1)
X = df[list(f.Specs)]
y = df['Churn Label']

Churn Score feature is highly correlated with the dependent variable, so we keep the rest top-9 features of SelectKBest for our analysis. We apply some basic classification algorithms first.

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.gaussian_process.kernels import RBF
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB

names = ["Logistic Regression",
    "Nearest Neighbors",
    "Linear SVM",
    "RBF SVM",
    "Decision Tree",
    "Naive Bayes",
]

classifiers = [LogisticRegression(solver='lbfgs', max_iter=500),
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
    SVC(gamma=2, C=1),
    DecisionTreeClassifier(max_depth=5),
    GaussianNB(),
]

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.2, random_state=42
    )

clf_scores = []

for name, clf in zip(names, classifiers):
    clf.fit(X_train, y_train)
    score = clf.score(X_test, y_test)
    clf_scores.append(score)

In [19]:
clfScores = pd.DataFrame(list(zip(names,clf_scores)))
clfScores.columns = ['Classifier','Score']
clfScores.style.hide_index()

Then we apply ensemble methods.

**Random Forest** classifier with cross-validation.

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report

clf = RandomForestClassifier(n_estimators=50, max_depth=5,
    max_features = 0.6)

scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

0.9124591862733133

In [22]:
from sklearn.metrics import classification_report

target_names=['yes','no']

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=42)

clf = RandomForestClassifier(n_estimators=50, max_depth=5,
    max_features = 0.6)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

         yes       0.95      0.93      0.94       950
          no       0.86      0.91      0.88       500

    accuracy                           0.92      1450
   macro avg       0.91      0.92      0.91      1450
weighted avg       0.92      0.92      0.92      1450

**AdaBoost** classifier with cross-validation.

In [23]:
from sklearn.ensemble import AdaBoostClassifier

clf = AdaBoostClassifier(n_estimators=50)
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

0.9163907926373642

In [26]:
from sklearn.metrics import classification_report

target_names=['yes','no']

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=42)

clf = AdaBoostClassifier(n_estimators=50)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

         yes       0.95      0.92      0.93       950
          no       0.86      0.90      0.88       500

    accuracy                           0.91      1450
   macro avg       0.90      0.91      0.91      1450
weighted avg       0.92      0.91      0.91      1450

**Gradient Boosting** classifier with cross-validation.

In [25]:
from sklearn.ensemble import GradientBoostingClassifier

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=42)

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1,
     max_depth=1, random_state=0).fit(X_train, y_train)
clf.score(X_test, y_test)

0.9186206896551724

In [28]:
from sklearn.metrics import classification_report

target_names=['yes','no']

X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.3, random_state=42)

clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1,
     max_depth=1, random_state=0)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred, target_names=target_names))

              precision    recall  f1-score   support

         yes       0.94      0.93      0.94       950
          no       0.88      0.89      0.88       500

    accuracy                           0.92      1450
   macro avg       0.91      0.91      0.91      1450
weighted avg       0.92      0.92      0.92      1450